.plate {
    width: 300px;
    margin: auto;
    height: 300px;
    text-align: center;
    position: relative;
    background: url("https://res.cloudinary.com/webmonc/image/upload/v1665030661/FoodApp/Ingredients/plate_zchp6o.png")
        no-repeat center center/cover;
}
.plateText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 980px) and (min-height: 700px) {
    .plate {
        width: 700px;
        height: 600px;
    }
}

@media (min-width: 680px) and (min-height: 400px) {
    .plate {
        width: 400px;
        height: 400px;
    }
}
