.foodcontrolbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.foodcontrolbtn button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
    outline: none;
}

.foodcontrolbtn button:disabled {
    background-color: #ac9980;
    border: 1px solid #ac9980;
    color: #ccc;
    cursor: default;
}

.foodcontrolbtn button:hover:disabled {
    background-color: #ac9980;
    color: #ccc;
    cursor: not-allowed;
}

.label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.foodcontrolbtn .less {
    border: 1px solid rgba(9, 255, 0, 0.568);
    background-color: rgba(9, 255, 0, 0.568);
    color: #fff;
}

.foodcontrolbtn .more {
    border: 1px solid rgb(27, 68, 42);
    background-color: rgb(27, 68, 42);
    color: #fff;
}

.foodcontrolbtn .less:hover,
.foodcontrolbtn .less:active {
    background-color: rgba(115, 228, 149, 0.938);
    color: #fff;
}

.foodcontrolbtn .more:hover,
.foodcontrolbtn .more:active {
    background-color: rgba(17, 80, 43, 0.966);
    color: #fff;
}
