.ContactInfo {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.input {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
}
input:focus,
input:valid {
    outline: 0;
    border-bottom-color: rgba(235, 104, 92, 0.842);
}

@media (min-width: 601px) {
    .ContactInfo {
        width: 500px;
    }
}
