.SideDrawer {
    position: fixed;
    width: 270px;
    max-width: 70%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: azure;
    padding: 10px 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}
nav {
    margin: 20px 0;
}
.Link {
    margin: 20px 0;
}
@media (min-width: 601px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
